#login_form{
  width: 400px;
  height: 300px;
  margin: 100px auto;
  background: #313f54;
  color: #fff;
  border-radius: 6px;
  h1{
    text-align: center;
    color: #32b97c;
    padding: 30px;
  }
  .form-group.submit{
    margin: 30px 0;
  }
}