.side-nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  min-height: 100%;
  border-right: solid 1px #fff;
  padding: 30px 0 0 20px;
  .item-list{
    padding: 0;
    .item{
      list-style: none;
      text-align: center;
      color: #fff;
      line-height: 30px;
      cursor: pointer;
    }
  }
}

.content{
  padding: 10px;
  .side-nav+&{
    padding-left: 160px;
  }
  .wrapper{
    min-height: 800px;
    background: #fff;
    padding: 20px;
  }
}

.category{
  margin-bottom: 30px;
  .title{
    width: 130px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    background: #32b97c;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.table{
  font-size: 13px;
}

.table>thead>tr>th,
.table>tbody>tr>td{
  text-align: center;
  vertical-align: middle;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}


// pagination
.pagination.green{
  $green: #32b97c;
  margin-top: 0;
  & > li > a{
    color: $green;
    &:hover{
      color: #fff;
      border-color: $green;
      background-color: $green;
    }
  }
  & > li.active a{
    color: #fff;
    border-color: $green;
    background-color: $green;
  }
}