<article>
  <header class="view-title">任务列表</header>
  <section class="content clearfix">
    <div class="form-inline clearfix search-filters">
      <div class="form-group">
        <label for="" class="control-label">状态: </label>
        <select name="" id="" class="form-control" ng-model="main.filter.status">
          <option value="{{f}}" ng-repeat="f in main.filterData.status">{{f | status}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="" class="control-label">合作类型: </label>
        <select name="" id="" class="form-control" ng-model="main.filter.coType">
          <option value="{{f}}" ng-repeat="f in main.filterData.coType">{{f | coType}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="" class="control-label">每页条数: </label>
        <select name="" id="" class="form-control" ng-model="main.filter.itemsPerPage">
          <option value="{{f}}" ng-repeat="f in main.filterData.itemsPerPage">{{f | abs}}</option>
        </select>
      </div>
      <div class="pull-right">
        <button class="btn btn-default" ng-click="main.batchAssignEnabled=!main.batchAssignEnabled">批量分配</button>
      </div>
    </div>
    <div class="divider"></div>
    <table class="table table-hover table-striped table-responsive">
      <thead>
        <tr>
          <th ng-if="main.batchAssignEnabled"><button class="btn btn-default btn-sm" ng-click="main.selectAll()">反选</button></th>
          <th ng-if="main.user.roleId!=3">客户来源</th>
          <th ng-if="main.user.roleId!=3">分配时间</th>
          <th ng-if="main.user.roleId!=3">上次通话</th>
          <th>通话次数</th>
          <th>姓名</th>
          <th>电话</th>
          <th>城市</th>
          <th>合作类型</th>
          <th>状态</th>
          <th ng-if="main.user.roleId==3">备注</th>
          <th ng-if="main.user.roleId!=3">组别</th>
          <th ng-if="main.user.roleId!=3">销售代表</th>
          <th>修改</th>
          <th ng-if="main.user.roleId!=3">分配</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in main.list">
          <td ng-if="main.batchAssignEnabled"><input type="checkbox" ng-model="item.selected" ng-if="!item.assigned"></td>
          <td ng-if="main.user.roleId!=3">{{item.customerSource || '-'}}</td>
          <td ng-if="main.user.roleId!=3">{{item.assignDate || '-'}}</td>
          <td ng-if="main.user.roleId!=3">{{item.lastCallDate || '-'}}</td>
          <td>{{item.callCount}}</td>
          <td>{{item.name}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.cityId | city}}</td>
          <td>{{item.customerType | coType}}</td>
          <td>{{item.status | status}}</td>
          <td ng-if="main.user.roleId==3">{{(item.remark | remark) || '-'}}</td>
          <td ng-if="main.user.roleId!=3">{{item.groupId | team}}</td>
          <td ng-if="main.user.roleId!=3">{{item.saleman || '-'}}</td>
          <td>
            <button type="button" class="btn btn-info btn-sm" ng-click="main.modify($index)">修改</button>
          </td>
          <td ng-if="main.user.roleId!=3">
            <button type="button" class="btn btn-danger btn-sm" ng-click="main.assign($index)" ng-hide="item.assigned">分配</button>
            <span ng-show="item.assigned">已分配</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="divider"></div>
    <div class="pull-left">
      <button class="btn btn-danger" ng-click="main.batchAssign()" ng-if="main.batchAssignEnabled">选好了({{main.selectedCount}})</button>
    </div>
    <pagination ng-change="main.pageChanged()"
      max-size="5"
      rotate="false"
      boundary-links="true"
      total-items="main.totalItems"
      ng-model="main.currentPage"
      items-per-page="main.itemsPerPage"
      class="pagination green pull-right"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页">
    </pagination>
  </section>
</article>