.container{
  position: relative;
  width: 100%;
  min-width: 1280px;
  min-height: 800px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  .side-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    min-height: 100%;
    background: #273241;
    z-index: 10;
    .logo{
      height: 180px;
      background: url(../assets/images/logo-2.png) no-repeat center;
      background-size: 74px 87px;
    }
    .item-list{
      padding: 0;
      .item{
        position: relative;
        list-style: none;
        padding-left: 20px;
        color: #7C8695;
        line-height: 50px;
        cursor: pointer;
        border-bottom: solid 1px #354050;
        &.active{
          color: #fff;
          background: #161F2C;
          &:after{
            content: '';
            display: block;
            width: 5px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            background: $green;
          }
        }
      }
    }
  }
  .main-content{
    position: relative;
    padding-left: 200px;
  }
}

.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: solid 1px #fff;
  color: #fff;
  background: #27A069;
  z-index: 3;
  .user{
    .date{
      padding-right: 20px;
    }
    .btn-logout{
      background: transparent;
      border: solid 1px #fff;
      border-radius: 40px;
      margin-left: 20px;
      margin-right: 20px;
      height: 22px;
      line-height: 22px;
      padding: 0 6px;
      text-align: center;
      font-size: 12px;
      color: #fff;
      background: $green;
    }
  }
}

.view-title{
  line-height: 60px;
  font-size: 18px;
  border-bottom: solid 1px #ddd;
  padding: 0 20px 0 220px;
  background: #f2f2f2;
  position: fixed;
  width: 100%;
  top: 40px;
  left: 0;
  z-index: 3;
}

.content{
  padding: 20px 25px;
  min-height: 800px;
  background: #fff;
  margin-top: 101px;
  z-index: 1;
}


.icon{
  display: inline-block;
  width: 40px;
  height: 20px;
  vertical-align: middle;
  &.icon-store{
    background: url(../assets/images/store@2x.png) no-repeat top center;
    background-size: 20px 19px;
    .active &{
      background-image: url(../assets/images/store-hl@2x.png);
    }
  }
  &.icon-staff{
    background: url(../assets/images/staff@2x.png) no-repeat top center;
    background-size: 20px 19px;
    .active &{
      background-image: url(../assets/images/staff-hl@2x.png);
    }
  }
  &.icon-assessment{
    background: url(../assets/images/assessment@2x.png) no-repeat top center;
    background-size: 20px 19px;
    .active &{
      background-image: url(../assets/images/assessment-hl@2x.png);
    }
  }
  &.icon-authority{
    background: url(../assets/images/net@2x.png) no-repeat top center;
    background-size: 20px 19px;
    .active &{
      background-image: url(../assets/images/assessment-hl@2x.png);
    }
  }
}