.container{
  position: relative;
  width: 100%;
  min-width: 1280px;
  min-height: 800px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  .main-content{
    position: relative;
    padding-left: 200px;
  }
}

.view-title{
  line-height: 60px;
  font-size: 18px;
  border-bottom: solid 1px #ddd;
  padding: 0 20px 0 220px;
  background: #f2f2f2;
  position: fixed;
  width: 100%;
  top: 40px;
  left: 0;
  z-index: 3;
}

.content{
  padding: 20px 25px;
  min-height: 600px;
  background: #fff;
  margin-top: 101px;
  z-index: 1;
}


.icon{
  display: inline-block;
  width: 40px;
  height: 20px;
  vertical-align: middle;
  &.icon-store{
    background: url(../assets/images/store@2x.png) no-repeat top center;
    background-size: 20px 19px;
    .active &{
      background-image: url(../assets/images/store-hl@2x.png);
    }
  }
  &.icon-staff{
    background: url(../assets/images/staff@2x.png) no-repeat top center;
    background-size: 20px 19px;
    .active &{
      background-image: url(../assets/images/staff-hl@2x.png);
    }
  }
  &.icon-assessment{
    background: url(../assets/images/assessment@2x.png) no-repeat top center;
    background-size: 20px 19px;
    .active &{
      background-image: url(../assets/images/assessment-hl@2x.png);
    }
  }
  &.icon-authority{
    background: url(../assets/images/net@2x.png) no-repeat top center;
    background-size: 20px 19px;
    .active &{
      background-image: url(../assets/images/assessment-hl@2x.png);
    }
  }
}