/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

body{
  background: #000;
  font-size: 14px;
}

.container{
  position: relative;
  width: 1280px;
  min-height: 800px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  .side-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    min-height: 100%;
    background: #273241;
    .logo{
      height: 80px;
      background: url(../assets/images/logo.png) no-repeat center;
      background-size: 60% 60%;
    }
    .item-list{
      padding: 0;
      .item{
        list-style: none;
        text-align: center;
        color: #fff;
        line-height: 30px;
        cursor: pointer;
      }
    }
  }
  .main-content{
    position: relative;
    padding-left: 200px;
  }
}

.header{
  height: 72px;
  border-bottom: solid 1px #fff;
  color: #fff;
  background: #32b97c;
  .user{
    padding: 20px;
    .btn-logout{
      background: transparent;
      border: dashed 1px #fff;
      margin-left: 20px;
    }
  }
}

.view-title{
  line-height: 60px;
  font-size: 18px;
  border-bottom: solid 1px #ddd;
  padding-left: 20px;
  background: #f2f2f2;
}

.content{
  padding: 20px 25px;
  min-height: 800px;
  background: #fff;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
