/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;

$red:           #EF706F;
$orange:        #FE9B4D;
$yellow:        #F1DD53;
$green:         #32b87c;
$blue:          #6DB5F5;
$dark-blue:     #273242;
$border-color:  #cecece;

$brand-success: $green;
$brand-danger:  $red;
$brand-warning: $yellow;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

body{
  background: #273242;
  font-size: 14px;
  // disable user select
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html,body,div[ui-view],.container{
  height: 100%;
}

.relative{
  position: relative;
}

.form-control.ng-dirty.ng-invalid{
  border-color: $red;
  box-shadow: none;
}

.date-picker-date-time{
  border: solid 1px $border-color;
  box-shadow: 0 2px 4px 1px $border-color;
}

.width-auto{
  width: auto;
}

.success{
  color: $green;
}

.danger{
  color: $red;
}

.inline-block{
  display: inline-block;
}

.btn{
  margin-left: 5px;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
