<aside class="side-nav">

  <div class="logo"></div>

  <ul class="item-list">
    <li class="item" ng-class="{active: active=='task'}" ng-click="select('task')">
      <a><i class="icon icon-store"></i>销售流量分配</a>
    </li>
    <li class="item" ng-class="{active: active=='store'}" ng-click="select('store')">
      <a><i class="icon icon-store"></i>店铺服务分配</a>
    </li>
    <li class="item">
      <a href=""><i class="icon icon-staff"></i>内部人员信息</a>
    </li>
    <li class="item">
      <a href=""><i class="icon icon-assessment"></i>MP人员工作考核</a>
    </li>
    <li class="item">
      <a href=""><i class="icon icon-authority"></i>后台权限管理</a>
    </li>
  </ul>
  
</aside>