<article>
  <header class="view-title">
    店铺列表（总数: {{list.filter.totalItems}}）
  </header>
  <section class="content clearfix">
    <!-- search filters -->
    <div class="form-inline clearfix search-filters">
      <div class="form-group">
        <label for="" class="control-label">状态: </label>
        <select name="" id="" class="form-control" ng-model="list.filter.status">
          <option value="{{f}}" ng-repeat="f in list.filterData.status">{{f | storeStatus}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="" class="control-label">省份: </label>
        <select name="" id="" class="form-control" ng-model="list.filter.provinceId">
          <option value="{{p.name}}" ng-repeat="p in list.filterData.provinceList">{{p.name}}</option>
        </select>
      </div>
      <div class="form-group" ng-if="list.user.roleId==9">
        <label for="" class="control-label">分配组别: </label>
        <select class="form-control" ng-model="list.filter.orgId">
          <option value="-1">全部</option>>
          <option value="{{group.orgId}}" ng-repeat="group in list.groupList">{{group.orgName}}</option>
        </select>
      </div>
      <div class="form-group" ng-if="list.user.roleId!=5">
        <label for="" class="control-label">分配组员: </label>
        <select class="form-control" ng-model="list.filter.memberId">
          <option value="-1">全部</option>>
          <option value="{{member.memberId}}" ng-repeat="member in list.memberList">{{member.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="" class="control-label">来源类型: </label>
        <select class="form-control" ng-model="list.filter.sourceType">
          <option value="{{key}}" ng-repeat="(key, value) in list.filterData.sourceType">{{value}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="" class="control-label">店铺状态: </label>
        <select class="form-control" ng-model="list.filter.storeStatus">
          <option value="{{key}}" ng-repeat="(key, value) in list.filterData.storeStatus">{{value}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="" class="control-label">每页条数: </label>
        <select name="" id="" class="form-control" ng-model="list.filter.itemsPerPage">
          <option value="{{f}}" ng-repeat="f in list.filterData.itemsPerPage">{{f | abs}}</option>
        </select>
      </div>

      <div class="form-group" style="position:relative">
        <label for="" class="control-label">开店时间: </label>
        <span class="inline-block">
          <input type="text" class="form-control" date-time format="YYYY-MM-DD" date-time min-view="date" max-view="date" ng-model="list.filter.startDate" placeholder="20151108" maxlength="10"  ng-keypress="list.search($event)">
        </span>
        ~
        <span class="inline-block">
          <input type="text" class="form-control" date-time format="YYYY-MM-DD" date-time min-view="date" max-view="date" ng-model="list.filter.endDate" placeholder="20151108" maxlength="10"  ng-keypress="list.search($event)">
        </span>
        
      </div>
      <div class="form-group">
        <label for="" class="control-label">搜索: </label>
        <input type="text" class="form-control" ng-model="list.filter.searchStr" placeholder="姓名/手机号/店名/省市" ng-keypress="list.search($event)">
      </div>

    </div>
    <div class="divider"></div>
    <table class="table table-hover table-striped table-responsive">
      <!-- table header -->
      <thead>
        <tr>
          <th ng-if="user.rights.assign"><button class="btn btn-default btn-sm" ng-click="list.select(true)">反选</button></th>
          <th>开店时间</th>
          <th>店名</th>
          <th>店主姓名</th>
          <th>联系方式</th>
          <th>店铺省市</th>
          <th>店铺状态</th>
          <th ng-if="user.roleId==9">分配组别</th>
          <th ng-if="user.roleId!=5">分配组员</th>
          <th>操作</th> 
        </tr>
      </thead>
      <!-- table body -->
      <tbody>
        <tr ng-repeat="item in list.list">
          <td ng-if="user.rights.assign"><input type="checkbox" ng-model="item.selected" ng-click="list.select()" ng-if="!item.assigned"></td>
          <td>{{item.date}}</td>
          <td>{{item.name}}</td>
          <td>{{item.owner}}</td>
          <td>{{item.phone | phoneEncrypt}}</td>
          <td>{{item.area}}</td>
          <td>{{item.storeStatus | shopStatus}}</td>
          <td ng-if="user.roleId==9">{{item.assignedTeam}}</td>
          <td ng-if="user.roleId!=5">{{item.assignedMember}}</td>
          <td>
            <button type="button" class="btn btn-info btn-sm" ng-click="list.modify(item.id)" ng-if="item.status!=8">详情</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="list.assign(item.id)" ng-if="user.rights.assign&&!item.assigned">分配</button>
            <button type="button" class="btn btn-warning btn-sm" ng-click="list.recovery(item.id)" ng-if="user.rights.recycle&&item.assigned">回收</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center" ng-if="!list.list.length">暂无数据</div>
    <div class="divider"></div>

    <section class="clearfix">
      <div class="pull-left">
        <button class="btn btn-danger" ng-click="list.batchAssign()" ng-if="user.rights.assign" ng-disabled="!list.selectedCount">批量分配 <span class="badge">{{list.selectedCount}}</span></button>
      </div>
      
      <!-- paginator -->
      <uib-pagination ng-change="list.pageChanged()"
        max-size="5"
        rotate="false"
        boundary-links="true"
        total-items="list.filter.totalItems"
        ng-model="list.filter.currentPage"
        items-per-page="list.filter.itemsPerPage"
        class="pagination green pull-right"
        previous-text="上一页"
        next-text="下一页"
        first-text="首页"
        last-text="末页">
      </uib-pagination>
    </section>
    
  </section>
</article>