<article id="detail_view">
  <header class="view-title clearfix">
    店铺信息详情
    <div class="pull-right">
      <button type="button" class="btn btn-success" ng-click="detail.save(true)">保存</button>
      <back-button></back-button>
    </div>
  </header>
  <section class="content">
    <form class="form-horizontal">
      <section class="info-group">
        <h4>商 家 档 案 完 善</h4>
        <div class="form-group">
          <label for="" class="control-label col-sm-2">商家姓名: </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="detail.info.businessName" maxlength="20" readonly>
          </div>
          <label for="" class="control-label col-sm-2">身份证号: </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="detail.info.idNo" maxlength="18" readonly>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="control-label col-sm-2">商家联系电话: </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="detail.info.phone" maxlength="12" readonly>
          </div>
          <label for="" class="control-label col-sm-2">支付宝帐号: </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="detail.info.alipayAccount" maxlength="12" readonly>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3 col-sm-offset-2">
            <input type="text" class="form-control" ng-model="detail.info.phone1" maxlength="12">
          </div>
          <label for="" class="control-label col-sm-2">微信: </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="detail.info.wechat" maxlength="12">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3 col-sm-offset-2">
            <input type="text" class="form-control" ng-model="detail.info.phone2" maxlength="12">
          </div>
        </div>
      </section>
      <section class="info-group">
        <h4>店 铺 信 息 完 善</h4>
        <div class="form-group">
          <label for="" class="control-label col-sm-2">店铺帐号: </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="detail.info.username" maxlength="20" readonly>
          </div>
          <label for="" class="control-label col-sm-2">店铺名称: </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="detail.info.shopName" maxlength="20" readonly>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="control-label col-sm-2">店铺地址: </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="detail.info.addr" maxlength="20" readonly>
          </div>
          <label for="" class="control-label col-sm-2">开店日期: </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="detail.info.shopDate" readonly>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="control-label col-sm-2">运营人数: </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="detail.info.employeeCount" maxlength="3">
          </div>
          <label for="" class="control-label col-sm-2">主要用户来源: </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="detail.info.usersSource" maxlength="20">
          </div>
        </div>

        <div class="form-group">
          <label for="" class="control-label col-sm-2">店铺月租金: </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="detail.info.monthlyRent" maxlength="5">
          </div>
        </div>
      </section>

      <section class="info-group">
        <h4>管 理 严 格 制 度</h4>
        <div class="form-group">
          <label for="" class="control-label col-sm-2">物业: </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="detail.info.property" maxlength="20">
          </div>
          <label for="" class="control-label col-sm-2">居委会: </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="detail.info.neighborhood" maxlength="20">
          </div>
        </div>

        <div class="form-group">
          <label for="" class="control-label col-sm-2">城管: </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="detail.info.chased" maxlength="20">
          </div>
        </div>
      </section>

      <section class="info-group">
        <h4>店 铺 设 计 合 理 程 度 </h4>
        <div class="form-group">
          <label for="" class="control-label col-sm-2">商品图片是否美观: </label>
          <div class="col-sm-3">
            <select class="form-control" ng-model="detail.info.imgGood">
              <option value="" disabled>请选择</option>
              <option value="1">是</option>
              <option value="0">否</option>
            </select>
          </div>
          <label for="" class="control-label col-sm-2">商品分类排序是否合理: </label>
          <div class="col-sm-3">
            <select class="form-control" ng-model="detail.info.sortingGood">
              <option value="" disabled>请选择</option>
              <option value="1">是</option>
              <option value="0">否</option>
            </select>
          </div>
        </div>
      </section>

      <section class="info-group form">
        <h4>掌 柜 推 荐 和 热 卖 商 品</h4>
        <div class="form-group">
          <div class="col-sm-12">
            <textarea class="form-control" rows="3" ng-model="detail.info.hotGoods" maxlength="500"></textarea>
          </div>
        </div>
      </section>

      <section class="info-group">
        <h4>历 史 记 录</h4>
        <div ng-if="detail.assignHistory.length" class="record">
          <div class="title">分配历史</div>
          <div ng-repeat="record in detail.assignHistory">
            <span class="date">{{record.date}}</span>
            <span class="from">{{record.from}}</span>
            <span ng-if="record.type" class="success">分配给</span>
            <span ng-if="record.type==0" class="danger">回收</span>
            <span class="to">{{record.to}}</span>
          </div>
        </div>

        <div ng-if="detail.statusHistory.length"  class="record">
          <div class="title">状态历史</div>
          <div ng-repeat="record in detail.statusHistory">
            <span class="date">{{record.date}}</span>
            <span class="name">{{record.name}}</span>
            <span>修改为</span>
            <span>{{record.status | status}}</span>
          </div>
        </div>

        <div ng-if="detail.remarkHistory.length"  class="record">
          <div class="title">备注历史</div>
          <div ng-repeat="record in detail.remarkHistory">
            <span class="date">{{record.date}}</span>
            <span class="name">{{record.name}}</span>
            <span>修改为</span>
            <span>{{record.remark}}</span>
          </div>
        </div>

      </section>
      <section class="info-group form">
        <h4>添 加 备 注</h4>
        <div class="form-group">
          <div class="col-sm-12">
            <textarea class="form-control" rows="3" ng-model="detail.info.remark" maxlength="200"></textarea>
          </div>
        </div>
      </section>
    </form>
  </section>
</article>