 <article>
  <header class="view-title clearfix">
    任务详情
    <div class="pull-right">
      <button type="button" class="btn btn-success" ng-click="detail.save(true)">保存并加载下一条</button>
      <button type="button" class="btn btn-warning" ng-click="detail.save()">保存</button>
      <button type="button" class="btn btn-default" ng-click="detail.back()">返回</button>
    </div>
  </header>
  <section class="content">
    <form class="form">
      <section class="info-group form-inline">
        <h4>个人信息</h4>
        <div class="form-group">
          <label for="" class="control-label">姓名: </label>
          <input type="text" class="form-control" ng-model="detail.info.name" maxlength="20">
        </div>
        <div class="form-group">
          <label for="">电话: </label>
          <input type="text" class="form-control" ng-model="detail.info.phone" maxlength="12">
          <button class="btn btn-success" ng-click="detail.dial()">呼叫</button>
          <button class="btn btn-danger" ng-disabled="!detail.calling" ng-click="detail.hangup()">挂断</button>
        </div>

        <br>

        <div class="form-group">
          <label for="">微信: </label>
          <input type="text" class="form-control" ng-model="detail.info.wechat" maxlength="20">
        </div>
        <div class="form-group">
          <label for="">QQ: </label>
          <input type="text" class="form-control" ng-model="detail.info.qq" maxlength="12">
        </div>
        <div class="form-group">
          <label for="">合作类型: </label>
          <select class="form-control" ng-model="detail.info.customerType">
            <option value="1">经销商</option>
            <option value="2">小店</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">城市: </label>
          <select class="form-control" ng-model="detail.info.cityId">
            <option value="12">北京</option>
            <option value="13">宁波</option>
            <option value="14">南京</option>
            <option value="15">苏州</option>
            <option value="16">广州</option>
            <option value="17">杭州</option>
            <option value="18">深圳</option>
            <option value="19">武汉</option>
            <option value="20">天津</option>
            <option value="21">上海</option>
          </select>
        </div>
      </section>
      <section class="info-group form-inline">
        <h4>处理状况</h4>
        <div class="form-group">
          <label for="">组别: </label>
          <label>{{detail.info.groupId | team}}</label>
        </div>
        <div class="form-group">
          <label for="">销售代表: </label>
          <label for="">{{detail.info.saleman || '-'}}</label>
        </div>
        <div class="form-group">
          <label for="">任务状态: </label>
          <select class="form-control" ng-model="detail.info.status">
            <option value="{{s}}" ng-repeat="s in detail.statusList" ng-disabled="user.roleId==3&&(s==0||s==1)">{{s | status}}</option>
          </select>
        </div>
      </section>
      <section class="info-group form-inline">
        <h4>渠道</h4>
        <div class="form-group">
          <label for="">客户来源: </label>
          <label class="">{{detail.info.customerSource || '-'}}</label>
        </div>
        <div class="form-group">
          <label for="">来源详情: </label>
          <label class="" ng-model="detail.info.sourceDetail">-</label>
        </div>
      </section>
      <section class="info-group form-inline">
        <h4>历史记录</h4>
        <div ng-if="detail.assignHistory.length" class="record">
          <div class="title">分配历史</div>
          <div ng-repeat="record in detail.assignHistory">
            <span class="date">{{record.date}}</span>
            <span class="from">{{record.from}}</span>
            <span>分配给</span>
            <span class="to">{{record.to}}</span>
          </div>
        </div>

        <div ng-if="detail.statusHistory.length"  class="record">
          <div class="title">状态历史</div>
          <div ng-repeat="record in detail.statusHistory">
            <span class="date">{{record.date}}</span>
            <span class="name">{{record.name}}</span>
            <span>修改为</span>
            <span>{{record.status | status}}</span>
          </div>
        </div>

        <div ng-if="detail.remarkHistory.length"  class="record">
          <div class="title">备注历史</div>
          <div ng-repeat="record in detail.remarkHistory">
            <span class="date">{{record.date}}</span>
            <span class="name">{{record.name}}</span>
            <span>修改为</span>
            <span>{{record.remark}}</span>
          </div>
        </div>

      </section>
      <section class="info-group form">
        <h4>添加备注</h4>
        <div class="form-group">
          <textarea class="form-control" rows="3" ng-model="detail.info.remark" maxlength="200"></textarea>
        </div>
      </section>
    </form>
  </section>
</article>