<article id="detail_view">
  <header class="view-title clearfix">
    任务详情
    <div class="pull-right">
      <button type="button" class="btn btn-success" ng-click="detail.save(true)" ng-if="detail.info.status!=8">保存并加载下一条</button>
      <button type="button" class="btn btn-warning" ng-click="detail.save()" ng-if="detail.info.status!=8">保存</button>
      <a ui-sref="task.list" class="btn btn-default">返回</a>
      <!-- <back-button></back-button> -->
    </div>
  </header>
  <section class="content">
    <form class="form-horizontal">
      <section class="info-group">
        <h4>个人信息</h4>
        <div class="form-group">
          <label for="" class="control-label col-sm-1">姓名: </label>
          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="detail.info.name" maxlength="20">
          </div>
          <label for="" class="control-label col-sm-1">电话: </label>
          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="detail.info.phone" maxlength="12">
          </div>
          <div class="col-sm-1">
            <button class="btn btn-block btn-success" ng-click="detail.dial()">呼叫</button>
            
          </div>
          <div class="col-sm-1">
            <button class="btn btn-block btn-danger" ng-disabled="!detail.calling" ng-click="detail.hangup()">挂断</button>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="control-label col-sm-1">微信: </label>
          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="detail.info.wechat" maxlength="20">
          </div>
          <label for="" class="control-label col-sm-1">QQ: </label>
          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="detail.info.qq" maxlength="12">
          </div>
        </div>

        <div class="form-group">
          <label for="" class="control-label col-sm-1">省份: </label>
          <div class="col-sm-2">
            <select class="form-control" ng-model="detail.info.provinceId">
              <option value="-1" disabled>请选择</option>
              <option value="{{p.id}}" ng-repeat="p in detail.provinceList">{{p.name}}</option>
            </select>
            <!-- <select class="form-control" ng-model="detail.info.provinceId" ng-options="option.id as option.name for option in detail.provinceList track by option.id"></select> -->
          </div>
          <label for="" class="control-label col-sm-1">城市: </label>
          <div class="col-sm-2">
            <select class="form-control" ng-model="detail.info.cityId">
              <option value="-1" disabled>请选择</option>
              <option value="{{c.id}}" ng-repeat="c in detail.cityList">{{c.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="control-label col-sm-1">详细地址: </label>
          <p class="col-sm-11 form-control-static">{{detail.info.city || '-'}}</p>
        </div>
      </section>
      <section class="info-group">
        <h4>处理状况</h4>
        <div class="form-group">
          <label for="" class="control-label col-sm-1">城市: </label>
          <div class="col-sm-2">
            <select class="form-control" ng-model="detail.info.ccity">
              <option value="12">北京</option>
              <option value="13">宁波</option>
              <option value="14">南京</option>
              <option value="15">苏州</option>
              <option value="16">广州</option>
              <option value="17">杭州</option>
              <option value="18">深圳</option>
              <option value="19">武汉</option>
              <option value="20">天津</option>
              <option value="21">上海</option>
            </select>
          </div>
          <label for="" class="col-sm-1 control-label">组别: </label>
          <p class="col-sm-2 form-control-static">{{detail.info.groupId | team}}</p>
          <label for="" class="col-sm-1 control-label">销售代表: </label>
          <p class="col-sm-2 form-control-static">{{detail.info.saleman || '-'}}</p>
        </div>
        <div class="form-group">

          <label for="" class="control-label col-sm-1">合作类型: </label>
          <div class="col-sm-2">
            <select class="form-control" ng-model="detail.info.customerType">
              <option value="1">经销商</option>
              <option value="2">小店</option>
            </select>
          </div>

          <label for="" class="control-label col-sm-1">任务状态: </label>
          <div class="col-sm-2">
            <select class="form-control" ng-model="detail.info.status" ng-disabled="detail.info.status==8">
              <option value="{{s}}" ng-repeat="s in detail.statusList" ng-disabled="user.roleId==3&&(s==0||s==1) || s==8">{{s | status}}</option>
            </select>
          </div>

          <section ng-if="detail.info.status==10">
            <label for="" class="control-label col-sm-1">邀约时间: </label>
            <div class="col-sm-2">
              <input date-time type="text" class="form-control" ng-model="detail.info.invite">
            </div>

          </section>
          
        </div>
      </section>
      <section class="info-group">
        <h4>渠道</h4>
        <div class="form-group">
          <label for="" class="col-sm-1 control-label text-right">客户来源: </label>
          <p class="col-sm-2 form-control-static">{{detail.info.customerSource || '-'}}</p>
        </div>
        <div class="form-group" hidden>
          <label for="" class="control-label col-sm-1">来源详情: </label>
          <label class="" ng-model="detail.info.sourceDetail">-</label>
        </div>
      </section>
      <section class="info-group">
        <h4>历史记录</h4>
        <div ng-if="detail.assignHistory.length" class="record">
          <div class="title">分配历史</div>
          <div ng-repeat="record in detail.assignHistory">
            <span class="date">{{record.date}}</span>
            <span class="from">{{record.from}}</span>
            <span>分配给</span>
            <span class="to">{{record.to}}</span>
          </div>
        </div>

        <div ng-if="detail.statusHistory.length"  class="record">
          <div class="title">状态历史</div>
          <div ng-repeat="record in detail.statusHistory">
            <span class="date">{{record.date}}</span>
            <span class="name">{{record.name}}</span>
            <span>修改为</span>
            <span>{{record.status | status}}</span>
          </div>
        </div>

        <div ng-if="detail.remarkHistory.length"  class="record">
          <div class="title">备注历史</div>
          <div ng-repeat="record in detail.remarkHistory">
            <span class="date">{{record.date}}</span>
            <span class="name">{{record.name}}</span>
            <span>修改为</span>
            <span>{{record.remark}}</span>
          </div>
        </div>

        <div ng-if="detail.callHistory.length" class="record">
          <div class="title">通话记录</div>
          <div class="relative" ng-repeat="record in detail.callHistory">
          <!-- <div class="relative"> -->
            <span class="date">{{record.date}}</span>
            <span class="name">{{record.name}}</span>
            <!-- <video controls="" name="media" style="max-width: 100%; max-height: 100%;"><source src="http://192.168.100.20/monitor/20151129/20151129-800080-13611920055-8080-1448799723.2.wav" type="audio/x-wav"></video> -->
            <video controls="" name="media" style="max-width: 100%; max-height: 100%;"><source ng-src="{{record.src | trustUrl}}" type="audio/x-wav"></video>
          </div>
        </div>

      </section>
      <section class="info-group form">
        <h4>添加备注</h4>
        <div class="form-group">
          <div class="col-sm-12">
            <textarea class="form-control" rows="3" ng-model="detail.info.remark" maxlength="200"></textarea>
          </div>
        </div>
      </section>
    </form>
  </section>
</article>