.info-group h4{
  line-height: 50px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 20px;
}
.form-inline .form-group{
  margin-right: 20px;
  margin-bottom: 20px;
}
.form-inline .form-group label{
  padding-right: 10px;
}