.info-group h4{
  line-height: 40px;
  border-bottom: dashed 1px #ddd;
  margin-bottom: 20px;
  font-size: 15px;
}
.form-inline .form-group{
  margin-right: 20px;
  margin-bottom: 20px;
}
.form-inline .form-group label{
  padding-right: 10px;
}

.record{
  line-height: 30px;
  span{
    padding: 0 10px;
  }
}